.wrapper {
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  padding-right: 1rem;
  padding-left: 3rem;
  border: 1px solid var(--color-border);
  position: relative;
  height: 2.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s linear;

  & svg {
    transition: fill 0.2s linear;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--color-brand-500);
    border-color: transparent;

    & .icon > svg {
      fill: var(--color-brand-500);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 1rem;
}

.input {
  appearance: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
}
