.wrapper {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}

.input-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}

.list {
  display: grid;
  gap: 0.25rem;
}

.skeleton {
  width: 100%;
  height: 127px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
