.wrapper {
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2.5rem;
  background: var(--color-brand-500);
  color: var(--color-brand-100);
  font-weight: 600;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s linear;

  &:hover {
    background: var(--color-brand-400);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.icon-wrapper {
  justify-content: center;
  width: 2.5rem;
  padding: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
}
