.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.empty-state {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  opacity: 0.5;
}

.description {
  font-size: 0.875rem;
  color: var(--color-typography);
}

.stats {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.stats-item {
  display: flex;
  height: 1.25rem;
  background: var(--color-background);
  border-radius: 0.25rem;
  padding-inline: 0.375rem;
  align-items: center;
  gap: 0.125rem;
  font-size: 0.75rem;
}

.info-wrapper {
  display: grid;
  gap: 1rem;
  font-size: 0.875rem;
  color: var(--color-typography);
}

.button-wrapper {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media (min-width: 410px) {
    grid-template-columns: 1fr 1fr;
  }
}

.link {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-brand-500);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
